In [1]:
import pandas as pd
import sqlite3

In [2]:
conn = sqlite3.connect('books.db')

In [3]:
df = pd.read_sql_query("SELECT * FROM Books", conn)

In [4]:
df

,id,name,author,own,description
0,4,The Alchemist,Paulo Cohelo,Yes,un pastor en busca del tesoro
1,5,veinte poemas de amor,Pablo Neruda,yes,habla del amor durante la vida
2,6,everybody lies,Seth Stephens,no,talks about data and how it shows the truth ab...
3,7,doña barbara,Romulo Gallegos,yes,venezuelan town
4,8,canaima,Romulo Gallegos,yes,great Venezuelan book
5,13,Tom Sawyer,Mark Twain,yes,kid goes to the moon
6,14,Pinocho,Mateo Garrone,yes,his nose grows if he lies
7,15,Harry Potter,Jr,yes,magic
8,16,html and css,Jon Duckett,yes,web design
9,17,atomic habit,James clear,yes,better your habits

In [5]:
x = df[df.name == 'Lanzas coloradas']

In [6]:
for i in x:
    print(i)

id
name
author
own
description

In [7]:
pd.read_sql_query("SELECT * FROM Books WHERE name == 'Arturo Uslar Pietri'", conn)

Empty DataFrame
Columns: [id, name, author, own, description]
Index: []

In [8]:
x = 'Lanzas coloradas'

if x in df.name:
    df[df.name == 'Lanzas coloradas' ]
else:
    print("not found")

not found

In [9]:
x = 'James clear'
for i in df.author:
    if i == x:
        print(df[df.author == x])
        break
        
if i != x:
    print('not found')

   id          name       author  own         description
9  17  atomic habit  James clear  yes  better your habits

In [10]:
df[df.author == 'Shakespeare']

Empty DataFrame
Columns: [id, name, author, own, description]
Index: []

In [11]:
df.author.reset_index()

   index           author
0      0     Paulo Cohelo
1      1    Pablo Neruda
2      2    Seth Stephens
3      3  Romulo Gallegos
4      4  Romulo Gallegos
5      5       Mark Twain
6      6    Mateo Garrone
7      7               Jr
8      8      Jon Duckett
9      9      James clear

In [12]:
df.own.value_counts()

yes    8
Yes    1
no     1
Name: own, dtype: int64

In [13]:
df[df.own == 'no'].sum()

id                                                             6
name                                              everybody lies
author                                             Seth Stephens
own                                                           no
description    talks about data and how it shows the truth ab...
dtype: object

In [14]:
df.shape[0]

10

In [15]:
df.groupby('own').size()

own
Yes    1
no     1
yes    8
dtype: int64

In [16]:
df.own.value_counts()

yes    8
Yes    1
no     1
Name: own, dtype: int64

In [17]:
x = 0
for i in df.own:
    if i == 'yes':
        x += 1
    elif i == 'Yes':
        x += 1
    else:
        pass

In [18]:
print(x)

9

In [19]:
for i in df:
    print(i)

id
name
author
own
description

In [20]:
for i in df.id:
    if i == 2:
        print('delete')

In [21]:
x = df[df.name=='canaima'].id

In [22]:
x

4    8
Name: id, dtype: int64

In [34]:
y = 'atomic habit'
a =''
for i in df.name:
    if i == y:
        a = i

In [35]:
print(a)

atomic habit

In [36]:
df[df.name == a].description

9    better your habits
Name: description, dtype: object